<div class="row">
  <div class="col-md-3">
		<ul class="nav navbar-nav">
			<li><a href="active">プロフィール</a></li>
			<li class="#"><a href="#">アカウント</a></li>
		</ul>
  </div>
  <div class="col-md-9">
  </div>
</div>