<% if items.any? %>
  <% items.each do |item| %>
    <div class="item" >
      <a class="item-title-time" href="../items/<%= item.id %>">
        <div class="item-title">
          <h4>
            <p><%= item.title %></p>
          </h4>
        </div>
        <div>
          <%= render "items/update_time", item: item %>
        </div>
      </a>
    </div>
  <% end %>
  <%= paginate items %>
<% end %>