<% if items.any? %>
  <% items.each do |item| %>
    <div class="item" >
      <a class="item-title-time" href="./<%= item.id %>">
        <div>
          <h4>
            <%= item.title%>
          </h4>
        </div>
        <div>
          <p><%= item.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[item.created_at.wday]})") %></p>
        </div>
      </a>
    </div>
  <% end %>
<% end %>