// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item {
  border-bottom: 2px solid #EEEEEE;
  display: block;
}
.item-title{
  border-bottom: 1px;
}
.item-user-photo-name {
  display: inline-block;
  list-style-type: none;
}
.media-items li {
  padding: 10px 10px 5px 10px;
  
}
.media-list li{
  background-color: white;
  border-bottom: 3px solid #EEEEEE;
  margin-bottom: 0px;
  margin-top: 0px;
}
.list-items{
  background-color: white;
  
}
.list-title-name-items{
  background-color: white;
  padding: 10px 10px 10px 10px;
  border-bottom: 2px solid #EEEEEE;
  
}
// 投稿記事の表示部分
.item-layout {
  background-color: white;
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 30px;
}
// 記事ランキングの表示
#item-ranking{
  background-color: white;
  padding: 10px 10px;
}
.item-title {
  word-break:break-all;
}