// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item {
  border-bottom: 1px;
  display: block;
}
.item-title{
  border-bottom: 1px;
}
.item-user-photo-name {
  display: inline-block;
  list-style-type: none;
}