// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// TOPPAGE 説明欄
article h1 {
  line-height: 2.0;
}
article p {
  font-size: 18px;
  line-height: 1.8;
}
// トップページ、お気に入りリストの背景カラー処理
div.login-toppage_list p{
  background-color: #D3D3D3;
}


div.toppage_list p {
  margin-bottom: 0px;
  font-size: 1.1rem;
  background-color: white;
  padding: 20px 10px 20px 10px;
  font-weight: bold;
  
}
div.toppage_list p.active {
  background-color: #FFFFE0;
  font-size: 1.3rem;
  
}


.toppage_list p span{
  color: #778899;
}
section.toppage-section {
  
  padding-bottom: 20px;
}
