// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// TOPPAGE 説明欄
article h1 {
  line-height: 2.0;
}
article p {
  font-size: 18px;
  line-height: 1.8;
}